html,body  
{ 	background-color:#FFB6C1; 
	 background-repeat:no-repeat; 
  background-position:center; 
  background-attachment:fixed; 
	}
	
	
	div#logo{text-align:center;}
	
body 
	{margin: 0px; 
	 padding: 0px; 
	 font-size: 1.5em; 
	 text-align: left;}

h1{text-align:center;font-size:1.4em;font-family: 'Chelsea Market', sans-serif;line-height: 0.03cm; margin-top: 1px;}

h2 
	{font-size: 1.4em;text-align:center;}	

ul {float: left;
width: 100%;
padding: 15px;
margin: 0;
list-style: none;}

ul p {font-weight:bold}

li a {
display: block;
float: left;
text-align: center;
font-size: 1em;
font-family:'Chelsea Market', sans-serif;
width: 480px;
text-decoration: none;
color: black;
padding: 5px 10px;
margin: 0px 1px 1px 0px;
border: 1px solid navy;}


div#menu {display: inline;
padding: 30px;
margin: 60px auto;}
